@page
@model BackendService.Pages.Ships.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>

<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name:
            <input type="text" name="searchString" value="@Model.CurrentFilter" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-page="./Index">Back to full List</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.NameSort">
                    @Html.DisplayNameFor(model => model.Ship[0].Name)
                </a>
            </th>            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Ship) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ShipID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ShipID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ShipID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
