@page
@model Broker.Pages.Ropes.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Rope</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rope.RopeID)
        </dt>
        <dt class="col-sm-10">
            @Html.DisplayNameFor(model => model.Rope.Image)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rope.Tag)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rope.Tag)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rope.CaptureDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rope.CaptureDate)
        </dd>
        <dd class="col-sm-2">
            @Html.DisplayFor(model => model.Rope.ShipID)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Rope.RopeID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
