@page 
@model BackendService.Pages.Images.IndexModel

@{
    ViewData["Title"] = "Index";
}

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ship in Model.Capture.Ships)
        {
            string selectedRow = "";
            if (ship.ShipID == (int?)ViewData["ShipID"])
            {
                selectedRow = "success";
            }
            <tr class="@selectedRow">
                <td>
                    @ship.Name
                </td>
                <td>
                    <a asp-page="./Index" asp-route-id="@ship.ShipID">Select</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (Model.Capture.Ropes != null)
{
    <h3>Ropes belonging to the selected ship</h3>
    <table class="table">
        <tr>
            <th>Rope ID</th>
            <th>Probability</th>
            <th>Tag</th>
            <th>Added on</th>
            <th></th>
        </tr>

        @foreach (var item in Model.Capture.Ropes)
        {
            string selectedRow = "";
            if (item.RopeID == (int?)ViewData["RopeID"])
            {
                selectedRow = "success";
            }
            <tr class="@selectedRow">
                <td>
                    @item.RopeID
                </td>
                <td>
                    @item.Probability
                </td>
                <td>
                    @item.Tag
                </td>
                <td>
                    @item.AddedOn
                </td>
                <td>
                    <a asp-page="./Index" asp-route-id="@ViewData["ShipID"]"
                       asp-route-rope="@item.RopeID">Select</a>
                </td>
            </tr>
        }

    </table>
}

@if (Model.Capture.Images != null)
{
    <h3>Select Image</h3>
    <table class="table">
        <tr>
            <th>Image ID</th>
            <th>Image</th>
            <th></th>
        </tr>
        @foreach (var img in Model.Capture.Images)
        {
            string selectedRow = "";
            if (img.ImageID == (int?)ViewData["ImageID"])
            {
                selectedRow = "success";
            }
            <tr class="@selectedRow">
                <td>
                    @img.ImageID
                </td>
                <td>
                    <img src="data:image;base64,@System.Convert.ToBase64String(img.RawImage)" />
                </td>
                <td>
                    <a asp-page="./Index"
                       asp-route-id="@ViewData["ShipID"]"
                       asp-route-rope="@ViewData["RopeID"]"
                       asp-route-image="@img.ImageID">Select</a>
                </td>
            </tr>
        }
    </table>
}

@if (Model.Capture.SpecificImg != null)
{
    <tr>
        <td>
            <button id="call_detect" type="button" onclick="detect()"
                    ship="@ViewData["ShipID"]"
                    rope="@ViewData["RopeID"]"
                    img="@ViewData["ImageID"]">
                js function call
            </button>
        </td>


        <td>
            <a asp-page="./api/CustomVisionServiceController"
               asp-route-id="@ViewData["ShipID"]"
               asp-route-rope="@ViewData["RopeID"]"
               asp-route-img="@ViewData["ImageID"]">asp-call  service</a>
        </td>

    </tr>
}




<script>
    $('#call_detect').click(function () {

        var ship = $('#call_detect').attr("ship");
        var rope = $('#call_detect').attr("rope");
        var img = $('#call_detect').attr("img");
        var data = { ship: "ship", rope: "rope", img: "img" };
        var data2 = "ship=" + ship + "&rope=" + rope + "&img" + img;
        $.ajax({
            type: "GET",
            cache: false,
            url: "./api/CustomVisionService",
            data: data,
            success: function (html) {

                $('#call_detect').val('data sent');
            }
        });
    }
</script>