@page "{id:int?}"
@model BackendService.Pages.Images.IndexModel

@{
    ViewData["Title"] = "Index";
}

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ship in Model.Capture.Ships)
        {
            string selectedRow = "";
            if (ship.ShipID == (int?)ViewData["ShipID"])
            {
                selectedRow = "success";
            }
            <tr class="@selectedRow">
                <td>
                    @ship.Name
                </td>
                <td>
                    <a asp-page="./Index" asp-route-id="@ship.ShipID">Select</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (Model.Capture.Ropes != null)
{
    <h3>Ropes belonging to the selected ship</h3>
    <table class="table">
        <tr>
            <th>Rope ID</th>
            <th>Probability</th>
            <th>Tag</th>
            <th>Added on</th>
            <th></th>
        </tr>

        @foreach (var item in Model.Capture.Ropes)
        {
            string selectedRow = "";
            if (item.RopeID == (int?)ViewData["RopeID"])
            {
                selectedRow = "success";
            }
            <tr class="@selectedRow">
                <td>
                    @item.RopeID
                </td>
                <td>
                    @item.Probability
                </td>
                <td>
                    @item.Tag
                </td>
                <td>
                    @item.AddedOn
                </td>
                <td>
                    <a asp-page="./Index" asp-route-rope="@item.RopeID">Select</a>
                </td>
            </tr>
        }

    </table>
}

@if (Model.Capture.Images != null)
{
    <h3>Select Image</h3>
    <table class="table">
        <tr>
            <th>Image ID</th>
            <th>Image</th>
            <th></th>
        </tr>

        @foreach (var img in Model.Capture.Images)
        {
            string selectedRow = "";
            if (img.ImageID == (int?)ViewData["ImageID"])
            {
                selectedRow = "success";
            }
        <tr class="@selectedRow">
            <td>
                @img.ImageID
            </td>
            <td>
                <img src="data:image;base64,@System.Convert.ToBase64String(img.RawImage)" />
            </td>
            <td>
                <a asp-page="./Detect" asp-route-rope="@img.ImageID">Detection service</a>
            </td>
        </tr>
        }

    </table>
}
